<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Digi e-Seva Admin Panel, Digi e-Seva Dashboard</title>
  <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
  <link href="./assets/css/main.css" rel="stylesheet" media="screen">
  <link href="./assets/fonts/icomoon/icomoon.css" rel="stylesheet">
</head>

<body>
  <header class="clearfix">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="Logo">
      <!--<h6 style="color: #35404f;margin-top: 15px;margin-bottom: -15px;">( IS/ISO 2008-9001 Certified Organisation )</h6>-->
    </div>
    <div class="pull-right">
      <ul id="header-actions" class="clearfix">
        <li class="list-box dropdown">
          <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><span
              class="info-label">7</span> <i class="icon-notifications_active info-icon text-success"></i></a>
          <ul class="dropdown-menu imp-notify">
            <li>
              <div class="thumb"><img src="./assets/img/user4.png" alt="Admin Dashboard"></div>
              <div class="details">
                <strong>Wilson Kewis</strong>
                <p>The best dashboard design I have ever seen. Good luck with sales.</p>
                <small class="date">Today at 10:10 pm - 21.12.2016</small>
              </div>
            </li>
            <li>
              <div class="thumb"><img src="./assets/img/user7.png" alt="Admin Dashboard"></div>
              <div class="details">
                <strong>Justin Mezzell</strong>
                <p>To keep your account secure, we need to revalidate your account.</p>
                <small class="date">3 days ago at 2:30 pm</small>
              </div>
            </li>
            <li>
              <div class="thumb"><img src="./assets/img/user1.png" alt="Admin Dashboard"></div>
              <div class="details">
                <strong>Shawn Ankith</strong>
                <p>Contact you via phone with support for recent purchases and product information.</p>
                <small class="date">7 days ago at 5:15 pm</small>
              </div>
            </li>
          </ul>
        </li>
        <li class="list-box dropdown">
          <a id="drop10" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><span
              class="info-label">4</span> <i class="icon-circle-check info-icon text-warning"></i></a>
          <div class="dropdown-menu">
            <section class="todo">
              <fieldset class="todo-list"><label class="todo-list-item"><input type="checkbox" class="todo-list-cb">
                  <span class="todo-list-mark"></span> <span class="todo-list-desc">Fix UI Bug</span> <small
                    class="scheduled">Scheduled for 24th Dec, Assigned to Shawn.</small></label><label
                  class="todo-list-item"><input type="checkbox" class="todo-list-cb"> <span
                    class="todo-list-mark"></span>
                  <span class="todo-list-desc">Send all Documents</span> <small class="scheduled">Scheduled for 24th
                    Dec,
                    Assigned to Leena.</small></label><label class="todo-list-item"><input type="checkbox"
                    class="todo-list-cb"> <span class="todo-list-mark"></span> <span class="todo-list-desc">Attend
                    Wedding
                    Party</span> <small class="scheduled">Scheduled on 10th Dec, Assigned to Mark.</small></label><label
                  class="todo-list-item"><input type="checkbox" class="todo-list-cb" checked="checked"> <span
                    class="todo-list-mark"></span> <span class="todo-list-desc">Meet Mr.James</span> <small
                    class="scheduled">Completed on 5th Dec, Assigned to Robin.</small></label><label
                  class="todo-list-item"><input type="checkbox" class="todo-list-cb overdue" checked="checked"> <span
                    class="todo-list-mark"></span> <span class="todo-list-desc">Read Turning Points</span> <small
                    class="scheduled">Overdue 12 days, Assigned to Wincy.</small></label></fieldset>
            </section>
          </div>
        </li>
        <li class="list-box user-admin dropdown">
          <div class="admin-details">
            <div class="name">Shawn</div>
            <div class="designation">System Admin</div>
          </div>
          <a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i
              class="icon-account_circle"></i></a>
          <ul class="dropdown-menu sm">
            <li class="dropdown-content"><a href="#"><i class="icon-warning2"></i>Update Password<br><span>Your password
                  will expire in 7 days.</span></a> <a href="profile.html">Edit Profile</a> <a
                href="forgot-pwd.html">Change Password</a> <a href="Correction in PAN Card.html">Settings</a> <a
                href="lock-screen.html">Lock Screen</a><a href="login.html">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a href="comments.html" class="support">Support</a>
    <div class="custom-search"><input type="text" class="search-query" placeholder="Search here ..."> <i
        class="icon-search4"></i></div>
  </header>
</body>

</html>