<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light static-top" style="background-color: #60a3bc;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#">
      <img src="./assets/images/logo.png" height="5%" width="15%" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerActiveLink="active">
          <a class="nav-link" routerLink="/dashboard">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerActiveLink="active">
          <a class="nav-link" routerLink="/dashboard">About</a>
        </li>
        <li class="nav-item" routerActiveLink="active">
          <a class="nav-link" routerLink="/dashboard">Services</a>
        </li>
        <li class="nav-item" routerActiveLink="active">
          <a class="nav-link" routerLink="/dashboard">Contact</a>
        </li>
        <!-- <li class="nav-item dropdown" routerActiveLink="active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="'/accounts'"> Accounts </a>
            <a class="dropdown-item" [routerLink]="'/create-account'"> Create Account </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="'/contacts'"> Contacts </a>
            <a class="dropdown-item" [routerLink]="'/create-contact'"> Create Contact </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="'/leads'"> Leads </a>
            <a class="dropdown-item" [routerLink]="'/create-lead'"> Create Lead </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="'/opportunities'"> Opportunities </a>
            <a class="dropdown-item" [routerLink]="'/create-opportunity'"> Create Opportunity </a>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</nav>