<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Digi e-Seva Admin Panel, Digi e-Seva Dashboard</title>
  <link href="./assets/css/login.css" rel="stylesheet" media="screen">
  <link href="./assets/fonts/icomoon/icomoon.css" rel="stylesheet">
</head>

<body>
  <footer class="footer">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
      <div>
        <div class="bold">Powered By <a href="http://www.digieseva.in/" class="redlink"><span>Digi
              e-Seva</span><small>™</small></a>| Maintained By | <a href="http://www.ewlsysglobal.com/"><span>E-Weblink
              Systems &amp; Cloud Consulting Pvt Ltd<small>™</small></span></a> | Corporate Identity Number :
          U12000GJ2017PTC096493</div>
        © 2017 All rights reserved. | <a href="../index.html" alt=" http://www.digieseva.in"
          title=" http://www.digieseva.in" style="color: #35404f;"> http://www.digieseva.in</a> | Best viewed with
        1024x768 or resolution on <a
          href="http://www.mozilla.org/en-US/products/download.html?product=firefox-stub&amp;os=win&amp;lang=en-US"
          title="Get Firefox" target="_new" style="color: #35404f;">Firefox 11+</a> &amp; <a
          href="http://www.microsoft.com/en-us/download/confirmation.aspx?id=2" title="Get Firefox" target="_new"
          style="color: #35404f;">Internet Explorer 8.0+</a> browsers.
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="bold"><img alt="Logo" style="float: right;width: 100%;margin-top: -35px;margin-right: -1160px;"
            src="./assets/img/trust.png"></div>
      </div>
    </div>
  </footer>
</body>

</html>